body {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

/* social icons */

ul.social-links {
  margin: 100px 100px 0 50px;
  padding: 0;
  list-style: none;
  float: right;
  overflow: auto;

  li {
    float: left;
    margin-right: 5px;

    a {
      @icon-size: 26px;
      width: @icon-size;
      height: @icon-size;
      text-indent: -99999px;
      display: block;

      &.vk {
        background: url('../images/social-icons/vkontakte.png') no-repeat;
      }

      &.fb {
        background: url('../images/social-icons/facebook.png') no-repeat;
      }
    }
  }
}