{% extends '::base.html.twig' %}

{% block title %}Football 3x3{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="lessphp"
    'bundles/footballnews/css/base.less'
    output='bundles/footballnews/css/base.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@FootballNewsBundle/Resources/public/js/jquery-1.8.3.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <section id="wrapper">
        <header id="header">
            <ul class="social-links">
                <li><a class="vk" href="#">Vkontakte</a></li>
                <li><a class="fb" href="#">Facebook</a></li>
            </ul>

            <div class="logo">
                <a href="{{ path('_welcome') }}">
                    <img src="{{ asset('bundles/footballnews/images/football3x3-logo.png') }}" width="139" height="171" alt="Football 3x3 Logo" />
                </a>
            </div>
        </header>

        {% block navigation %}
            <nav>
                {% render 'FootballNewsBundle:Default:navigation' %}
            </nav>
        {% endblock %}

        <section id="content">
            {% block content %}{% endblock %}
        </section>

        <aside id="sidebar">
            {% block sidebar %}{% endblock %}
        </aside>

        <div id="footer">
            {% block footer %}
                Website created by <a href="mailto:Oleg Voloshin <vololeg93@gmail.com>">Oleg Voloshin</a> &copy; 2012
            {% endblock %}
        </div>
    </section>
{% endblock %}
